{% extends 'home_page/base.html' %}

{% block content %}

<h1>Tristan's website from html file</h1>

{% load static %}

<br><a href="{% url 'blog:all_blogs' %}">Blog</a><br>                           <!--creates a link to all_blogs -->

<figure>
  <img src="{% static 'home_page/LinkedIn_Profile_Pic.png' %}" height=340 width=306>
  <figcaption>This is a image from the static file.... all other images are from database.</figcaption>
</figure>

<a href="{% static 'home_page/Tristan_Soldenhoff_CV.pdf' %}">Resume</a>

{% for i in projects %}

<h2>{{ i.title }}</h2>
<p>{{ i.description }}</p>
<image src="{{ i.image.url }}" height=340 width=306>
{% if i.url %}
<br><a href="{{ i.url }}">Link</a>
{% endif %}

{% endfor %}

{% endblock %}
