<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <nav class="navbar">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#personalProjects">Personal Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <section id="home">
    <div class="main">
      <h1 class="headings">I Am <br> Tristan Soldenhoff</h1>
    </div>
  </section>

  <!-- just adding mini border -->
  <nav class="border">
    <ul>
    </ul>
  </nav>

  <section id="particles">
    <div class="glowing">
      <span style="--i:1;"></span>
      <span style="--i:2;"></span>
      <span style="--i:3;"></span>
    </div>
    <div class="glowing">
      <span style="--i:1;"></span>
      <span style="--i:2;"></span>
      <span style="--i:3;"></span>
    </div>
    <div class="glowing">
      <span style="--i:1;"></span>
      <span style="--i:2;"></span>
      <span style="--i:3;"></span>
    </div>
    <div class="glowing">
      <span style="--i:1;"></span>
      <span style="--i:2;"></span>
      <span style="--i:3;"></span>
    </div>
  </section>

  <!-- just adding mini border -->
  <nav class="border">
    <ul>
    </ul>
  </nav>



  <section id="skills">
    <div class="skills">
      <h1>Lanuages</h1>
      <div class="content">
        <!-- <div class="left">
          <h1>Skills</h1>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro tenetur magni quo non voluptatum enim
            cumque
            commodi hic praesentium earum consequatur, quae sapiente ab ex nihil facilis corporis animi! Maxime.</p>
          <a href="">Read More</a>
        </div> -->
        <div class="right">
          <div class="line">
            <div class="info">
              <span>HTML</span>
              <span>90%</span>
            </div>
            <div class="bars html">
            </div>
          </div>
          <div class="line">
            <div class="info">
              <span>Java</span>
              <span>10%</span>
            </div>
            <div class="bars Java">
            </div>
          </div>
          <div class="line">
            <div class="info">
              <span>Python</span>
              <span>90%</span>
            </div>
            <div class="bars Python">
            </div>
          </div>
          <div class="line">
            <div class="info">
              <span>CSS</span>
              <span>90%</span>
            </div>
            <div class="bars CSS">
            </div>
          </div>
          <div class="line">
            <div class="info">
              <span>C</span>
              <span>10%</span>
            </div>
            <div class="bars C">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section id="technologies">
    <h1 class="headings">Skills</h1>
    <div class="gallery">
      <img src="skill_Icon/sk1.png" alt="">
      <img src="skill_Icon/sk2.png" alt="">
      <img src="skill_Icon/sk3.png" alt="">
      <img src="skill_Icon/sk4.png" alt="">
      <img src="skill_Icon/sk5.png" alt="">
      <img src="skill_Icon/sk6.png" alt="">
      <img src="skill_Icon/sk7.png" alt="">
      <img src="skill_Icon/sk8.png" alt="">
      <img src="skill_Icon/sk9.png" alt="">
      <img src="skill_Icon/sk10.png" alt="">
      <img src="skill_Icon/sk11.png" alt="">
      <img src="skill_Icon/sk12.png" alt="">
      <img src="skill_Icon/sk13.png" alt="">
      <img src="skill_Icon/sk14.png" alt="">
    </div>
  </section>


  <section id="personalProjects">
    <h1 class="headings">Personal Projects</h1>
    <div class="row">
      <div class="box">
        <img src="icons/btc.png" alt="">
        <h1 class="headings">Live Bitcoin Chart</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptate alias laboriosam
          quibusdam,
          cumque libero harum porro perferendis eius iste, explicabo distinctio provident? Quidem porro ullam odio
          sapiente beatae earum?</p>
        <a href="">Read More</a>
      </div>
    </div>
  </section>

  <section id="contact">
    <h1 class="headings">CONTACT</h1>
    <form action="" class="form">
      <input type="text" name="name" class="input" placeholder="Enter Your Name">
      <input type="email" name="email" class="input" placeholder="Enter Your Email">
      <textarea name="msg" id="msg" col="30" rows="5" placeholder="Enter Your Message"></textarea>
      <input type="submit" value="SEND" id="send">
    </form>
  </section>


</body>

</html>